{% extends "//views/layouts/public_base.twig" %}

{% block title %}
    {% if model.html_title %}
        {{ model.html_title }}
    {% else %}
        {{ model.title }}
    {% endif %}
{% endblock %}

{% block description %}
    {{ model.html_description }}
{% endblock %}

{% block keywords %}
    {{ model.htm_keywords }}
{% endblock %}



{% block content %}

	<div class="news-container">
	
    	<div class="nav">
			
            {% set breadcrumbs = model.getParentAsArray(model.id) %}
            <a href="/"> Главная  </a>
            {% for crumb in  model.getParentAsArray(model.id) %}
                <a href="{{ crumb.url }}"> {{ crumb.name }} </a>
            {% endfor %}
        </div>

    

		<div class="title">
			<p>{{ model.title }}</p>	
			<img src="/application/images/title-ln.jpg" height="12" width="20" alt="" />
		</div>
		{% if 	model.additional_content %}
		<div class="banner-box">
			{{ model.additional_content }}
		</div>
		{% endif %}
		
			<div class="aside">
				<div class="nav-menu">
					
                            {{ this.widget('TuhesMenu',{'showHidden':'1','id':'0'},true) }} 
                </div>	
			</div>

            <div class="content">
			    {{ model.content }}
            </div>
		
</div>

{%endblock%} 



