<a class="virt" href="#">Виртуальная приемная</a>
				<div class="virt-box">
					<img src="/application/images/virt-ln.png" height="9" width="15" alt="" />
					
					{% set form = 
						this.beginWidget('CActiveForm', {
						'id':'feedback-form',
						'action':'/application/feedback/create/',
						'enableAjaxValidation':true,
						'focus':{0:model,1:'name'},
						
						'clientOptions':{'validateOnSubmit':true,
										 'validateOnChange':true,
										 'validateOnType':true,
										 'afterValidate':'js:checkErrors',
									 },
						'htmlOptions':{'onsubmit':'return false;'}
						
						
						}, false, true
					) %}
					
				
						{{ form.textField(model,'name',{'placeholder':'Имя'}) }}
						{{ form.error(model,'name') }}
						{{ form.textField(model,'email',{'placeholder':'Email'}) }}
						{{ form.error(model,'email') }}
						{{ form.textField(model,'theme',{'placeholder':'Тема'}) }}
						{{ form.error(model,'theme') }}
						{{ form.textField(model,'text',{'placeholder':'Текст'}) }}
						{{ form.error(model,'text') }}
						
				
						<input type="submit" value="Отправить" />
	`				{{ void(this.endWidget()) }}

				</div>
					
					
				

<script type="text/javascript">

     function checkErrors(form, data, hasError) {
             if (!hasError) {
			 document.location="/application/feedback/success/";
             }
     }
</script>
					
