<a class="virt" href="#">Виртуальная приемная</a>
				<div class="virt-box">
					<img src="images/virt-ln.png" height="9" width="15" alt="" />
					
					{% set form = 
						this.beginWidget('CActiveForm', {
						'id':'pages-form',
						'action':'/application/feedback/create/',
						'enableAjaxValidation':true,
						}, true
					) %}
					
				
						{{ form.textField(model,'name') }}
						{{ form.textField(model,'email') }}
						{{ form.textField(model,'theme') }}
						{{ form.textField(model,'text') }}
						<!--<input type="text" placeholder="Имя" />-->
						<!--<input type="text" placeholder="E-mail" />
						<input type="text" placeholder="Тема" />
						<textarea placeholder="Сообщение"></textarea>-->
						<input type="submit" value="Отправить" />
	`				{{ void(this.endWidget()) }}

				</div>
					
					
