{% extends "//views/layouts/public_base.twig" %}
{% block content %}
   	<div style="width:100%;" class="news-container">
		<div class="nav">
            <a href="/">Главная</a>
			<a href="/application/news/">Новости</a>
        </div>
		<div class="title">
			<p> Новости </p>	

			<img src="/application/images/title-ln.jpg" height="12" width="20" alt="" />
		</div>
        <div class="container">
            {%for item in model %}
            <div class="block">
                <table> <tr> <td>
                {% if item.image %}
                    <a style="margin-right:10px;" href="/application/news/read/{{ item.slug }}"><img src="/application/uploads/thumb_{{ item.image }}" height="80" width="112" alt="" /></a>	
			    {% endif %}
                </td><td style="vertical-align:top;">
                <small> {{ item.pubDate }}</small>                
			    <h3> <a href='/application/news/read/{{item.slug}}'>{{item.title}}</a> </h3>
                    <div>
                    {{ item.content|striptags|slice(0,120) }}...
                    </div>
                </td></tr></table>
            <br/>

            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
