
<div class="news-container">
		<div class="title">
			<p>НОВОСТИ</p>	
			<a href="/application/news/">Все новости</a>
			<img src="/application/images/title-ln.jpg" height="12" width="20" alt="" />
		</div>
		 {% for item in items %}
		<div class="news-block">
			
            {% if item.image %}
                <a href="/application/news/read/{{ item.slug }}"><img src="/application/uploads/thumb_{{ item.image }}" height="80" width="112" alt="" /></a>	
			{% endif %}
				<div class="news-info">
					<p>{{ item.pubDate }}</p>	
					<p><strong>{{ item.title }}</strong></p>
					<p> {{ item.preview }}</p>
					<a href="/application/news/read/{{ item.slug }}">Подробней</a>
				</div>
			
		</div>	
		 {% endfor %}
</div>
