{% extends "//views/layouts/zurb.twig" %}
{% block topRight %}
{% endblock %}


{% block content %}
{% set breadcrumbs = {0:"login"} %}

<div class="columns large-12">
	<p>
		&nbsp;
	</p>
	<p>
		&nbsp;
	</p>
	</div>
<div class="columns large-4">
	&nbsp;
	</div>
<div class="columns large-4 panel">


<h4>Вход:</h4>


	
	{% set form = this.widget("CActiveForm", { 
		'id':'login-form',
		'enableClientValidation' : true,
		'clientOptions':{'validateOnSumbit':true}
    }
    , false) 
    %}
	
	
	<form id="{{ form.id }}" action="{{ form.action }}" method={{form.method}}>

	<div class="row">
		{{ form.textField(model,'username',{'placeholder':'Логин'}) }}
		{{ form.error(model,'username') }}
	</div>

	<div class="row">
		{{ form.passwordField(model,'password',{'placeholder':'Пароль'}) }}
		{{ form.error(model,'password') }}
		
	</div>

	<div class="row rememberMe">
		{{ form.checkBox(model,'rememberMe') }}
	  <label for="LoginForm_rememberMe">Запомнить меня</label>
		{{ form.error(model,'rememberMe') }}
	</div>

	<div class="row buttons">
		<input style="width:100%;" type="submit" value="Вход" class="tiny button"/>
	</div>
</form>
</div><!-- form -->


<div class="columns large-4">
	&nbsp;
	</div>

 {%endblock%} 
